In [51]:
import pandas as pd
import numpy as np

# Creating a Series

In [18]:
import pandas as pd
data = [10, 20, 30, 40]
v = pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

# Creating a DataFrame

In [54]:
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

# Reading Data from Files

In [57]:
df=pd.read_csv('transactions.csv')
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# head() used to extract data from top by value index starts from - 0 and default return 5 rows

In [17]:
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [16]:
print(df.head(6))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6

# tail() used to extract data from bottom by value index starts from last and default return 5 rows

In [26]:
print(df.tail())

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [29]:
# info() that gives you more info how many Non-Null values there 
# are present in each column, and in our data set

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [31]:
# describe(): Summarizes data with metrics like mean, count, min, max, etc.

print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [41]:
# # accessing a single [] or required col [[ , ]]
print(df['UserID'])

0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: UserID, dtype: float64

In [39]:
print(df[['UserID','ProductID']])

   UserID  ProductID
0     7.0          2
1     3.0          4
2     3.0          3
3     1.0          2
4     2.0          4
5     2.0          5
6     3.0          4
7     NaN          2
8     7.0          4
9     3.0          4

In [43]:
# df.iloc[row_index]: Accesses a row by its position.
print(df.iloc[1])

TransactionID               2
TransactionDate    2011-05-26
UserID                    3.0
ProductID                   4
Quantity                    1
Name: 1, dtype: object

# Filtering Data

In [77]:
# Condition (df['Age'] > 30): Filters rows where age > 30 and returns
print(df[df['Quantity']>1])

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# Renaming Columns

In [50]:
# rename(columns={old: new}, inplace=True)
# inplace=True: Updates the DataFrame directly without needing to assign it to a new variable
df.rename(columns={"Quantity": "Qty"},inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Qty
0              1      2010-08-21     7.0          2    1
1              2      2011-05-26     3.0          4    1
2              3      2011-06-16     3.0          3    1
3              4      2012-08-26     1.0          2    3
4              5      2013-06-06     2.0          4    1

In [68]:
print(df)
print(df.isnull().sum()) #count for Nan value
fillNa=df['UserID'].fillna(df['UserID'].mean(),inplace=True) #fill Nan value by assigning
print(fillNa)
dropNa=df.dropna(inplace=True) #drop Nan row
print(dropNa)
print(df)

   TransactionID TransactionDate    UserID  ProductID  Quantity
0              1      2010-08-21  7.000000          2         1
1              2      2011-05-26  3.000000          4         1
2              3      2011-06-16  3.000000          3         1
3              4      2012-08-26  1.000000          2         3
4              5      2013-06-06  2.000000          4         1
5              6      2013-12-23  2.000000          5         6
6              7      2013-12-30  3.000000          4         1
7              8      2014-04-24  3.444444          2         3
8              9      2015-04-24  7.000000          4         3
9             10      2016-05-08  3.000000          4         4
TransactionID      0
TransactionDate    0
UserID             0
ProductID          0
Quantity           0
dtype: int64
None
None
   TransactionID TransactionDate    UserID  ProductID  Quantity
0              1      2010-08-21  7.000000          2         1
1              2      2011-05-26  3.000000          4         1
2              3      2011-06-16  3.000000          3         1
3              4      2012-08-26  1.000000          2         3
4              5      2013-06-06  2.000000          4         1
5              6      2013-12-23  2.000000          5         6
6              7      2013-12-30  3.000000          4         1
7              8      2014-04-24  3.444444          2         3
8              9      2015-04-24  7.000000          4         3
9             10      2016-05-08  3.000000          4         4

# sort_values(by=["c1 ", "c2 "]),ascending=[True,False])

In [75]:
# The rows of T=asc F=desc
df = pd.read_csv("transactions.csv")
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"],
ascending=[True, False])
print(df_sorted)

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
3              4      2012-08-26     1.0          2         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

# Subsetting data

In [90]:
print(df[df['Quantity']>1])

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [79]:
# Subset rows 1, 3, and 6
print(df.iloc[[0,2,5]])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6

In [84]:
# Fecthes True Row 
foo = [True, False, True, False,True, False, True, False,True, False] # Example of a boolean array
subset_rows = df[foo]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3

In [98]:
subset = df[df['Quantity'] > 1][['TransactionID',
'TransactionDate']]
print(subset)
print(df["TransactionID"])

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: TransactionID, dtype: int64

# pd.to_datetime()

In [105]:
df['TransactionDate']=pd.to_datetime(df['TransactionDate']) #converts type to datetime
print(df.dtypes)
print(df.head())

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
dtype: object
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [107]:
# insert new column

df['NewCol']=df['ProductID']+df['Quantity']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  NewCol
0              1      2010-08-21     7.0          2         1       3
1              2      2011-05-26     3.0          4         1       5
2              3      2011-06-16     3.0          3         1       4
3              4      2012-08-26     1.0          2         3       5
4              5      2013-06-06     2.0          4         1       5

# Updating Existing Values

In [108]:
df.loc[df['UserID']==2,'Quantity']=2
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  NewCol
0              1      2010-08-21     7.0          2         1       3
1              2      2011-05-26     3.0          4         1       5
2              3      2011-06-16     3.0          3         1       4
3              4      2012-08-26     1.0          2         3       5
4              5      2013-06-06     2.0          4         2       5

# Problems:

In [2]:
import pandas as pd
df=pd.read_csv('transactions.csv')
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [6]:
# 1. Print Summary of transaction data set
print(df.describe())

#The summary typically includes count, mean, standard deviation, minimum, maximum, and percentiles for numerical attributes.

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [7]:
# 2. Print Numbers of Attributes
print("Number of attributes:", df.shape[1])

Number of attributes: 5

In [8]:
# 3. Print Numbers of Records / rows
print("Number of records:", df.shape[0])

Number of records: 10

In [10]:
# 4. Get the row names / get index of row
print("Row Names:", df.index.tolist())

Row Names: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
# 5. Get the column names
print("Column Names:", df.columns.tolist())

Column Names: ['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [16]:
# 6. View top 10 Records
print(df.head(11))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [26]:
# 7.Change the name of column “ Quantity” to “Quant”
df.rename(columns={"Quantity":"Quant"},inplace=True)
print(df.head())

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1

In [18]:
# 8. Change the name of columns "ProductID" and "UserID" to "PID" and "UID" respectively
df.rename(columns={'ProductID':'PID','UserID':'UID'},inplace=True)
print(df.head())

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1

In [24]:
# 9. Order the rows by "TransactionId" in descending order (or ascending if specified)
  # df.sort_values(by=[],ascending=)
dfsort=df.sort_values(by='TransactionID',ascending=False)
print(dfsort.head())

   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6

In [28]:
# 10. Order the rows by "Quantity" in ascending order and "TransactionDate" in descending order
dfsort=df.sort_values(by=['Quant','TransactionDate'],ascending=[True,False])
print(dfsort.head())

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [13]:
# 11.Set the column order to: ProductID, Quantity, TransactionDate, TransactionID, UserID
# method - 1:
# Scol=df[['ProductID', 'Quantity', 'TransactionDate', 'TransactionID', 'UserID']]
 # print(Scol)
#Scol=['ProductID', 'Quantity', 'TransactionDate', 'TransactionID', 'UserID']
Set=df[['ProductID', 'Quantity', 'TransactionDate', 'TransactionID', 'UserID']]
print(Set)

   ProductID  Quantity TransactionDate  TransactionID  UserID
0          2         1      2010-08-21              1     7.0
1          4         1      2011-05-26              2     3.0
2          3         1      2011-06-16              3     3.0
3          2         3      2012-08-26              4     1.0
4          4         1      2013-06-06              5     2.0
5          5         6      2013-12-23              6     2.0
6          4         1      2013-12-30              7     3.0
7          2         3      2014-04-24              8     NaN
8          4         3      2015-04-24              9     7.0
9          4         4      2016-05-08             10     3.0

In [15]:
# 12 . Make "UserID" the first column of the dataset
cols=['UserID']+[i for i in df.columns if i != "UserID"]
print(df[cols])

   UserID  TransactionID TransactionDate  ProductID  Quantity
0     7.0              1      2010-08-21          2         1
1     3.0              2      2011-05-26          4         1
2     3.0              3      2011-06-16          3         1
3     1.0              4      2012-08-26          2         3
4     2.0              5      2013-06-06          4         1
5     2.0              6      2013-12-23          5         6
6     3.0              7      2013-12-30          4         1
7     NaN              8      2014-04-24          2         3
8     7.0              9      2015-04-24          4         3
9     3.0             10      2016-05-08          4         4

In [32]:
# 13 . Extract the 2nd column as an array
print(df.iloc[:,1].values)

['2010-08-21' '2011-05-26' '2011-06-16' '2012-08-26' '2013-06-06'
 '2013-12-23' '2013-12-30' '2014-04-24' '2015-04-24' '2016-05-08']

In [34]:
# 14. Get the "ProductID" array
print(df["ProductID"].values)

[2 4 3 2 4 5 4 2 4 4]

In [35]:
# 15 Get the "ProductID" array using a variable
prod='ProductID'
print(df[prod].values)

[2 4 3 2 4 5 4 2 4 4]

In [58]:
# 16. Subset rows 1, 3, and 6
print(df.iloc[[1,3,6]])

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
6              7      2013-12-30     3.0          4         1

In [36]:
# 17. Subset rows excluding 1, 3, and 6
print(df.drop([1,3,6]))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [38]:
# 18. Subset the first 3 rows
print(df.iloc[:3])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

In [42]:
# 19. Subset the last 2 rows
print(df.iloc[-2:])

   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [43]:
# 20. Subset rows excluding the last 2 rows
print(df.iloc[:-2])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3

In [44]:
# 21. Subset rows excluding the first 3 rows
print(df.iloc[3:])

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [54]:
# 22. Subset rows where Quantity > 1
Set=df[df['Quantity']>1]
print(Set)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [63]:
# 23. Subset rows where UserID = 2
print(df[df['UserID']==2])

   TransactionID TransactionDate  UserID  ProductID  Quantity
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6

In [48]:
# 24. Subset rows where Quantity > 1 and UserID = 2
print(df[(df['UserID']==2) & (df['Quantity']>1)])

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [49]:
#25. Subset rows where Quantity + UserID > 3
print(df[(df["Quantity"] + df["UserID"]) > 3])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [53]:
# 26. Subset rows where an external array foo is True
foo = np.array([True, False, True, False,True, False, True, False, True, False])  # Example external array
print(df[foo])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3

In [55]:
# 27. Subset rows where an external array bar is positive
bar = np.array([1, -1, 2, -3,1, -1, 2, -3, 2, -3])  # Example external array
print(df[bar > 0])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3

In [56]:
# 28. Subset rows where foo is TRUE or bar is negative
print(df[(foo == True) | (bar < 0)])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [57]:
# 29. Subset rows where foo is NOT TRUE and bar is NOT negative
print(df[(foo != True) & (bar >= 0)])

Empty DataFrame
Columns: [TransactionID, TransactionDate, UserID, ProductID, Quantity]
Index: []

In [58]:
# 30. Subset by columns 1 and 3
print(df.iloc[:, [1, 3]])

  TransactionDate  ProductID
0      2010-08-21          2
1      2011-05-26          4
2      2011-06-16          3
3      2012-08-26          2
4      2013-06-06          4
5      2013-12-23          5
6      2013-12-30          4
7      2014-04-24          2
8      2015-04-24          4
9      2016-05-08          4

In [60]:
# 31. Subset by columns "TransactionID" and "TransactionDate"
print(df[["TransactionID", "TransactionDate"]])

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [62]:
# 32. Subset by columns "TransactionID" and "TransactionDate" with a logical operator
columns = ["TransactionID", "TransactionDate"]
print(df[columns])

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [63]:
# 33. Subset columns using a variable list of column names
cols = ["ProductID", "Quantity"]
print(df[cols])

   ProductID  Quantity
0          2         1
1          4         1
2          3         1
3          2         3
4          4         1
5          5         6
6          4         1
7          2         3
8          4         3
9          4         4

In [64]:
# 34. Subset columns excluding a variable list of column names
cols = ["ProductID", "Quantity"]
print(df.drop(columns=cols))

   TransactionID TransactionDate  UserID
0              1      2010-08-21     7.0
1              2      2011-05-26     3.0
2              3      2011-06-16     3.0
3              4      2012-08-26     1.0
4              5      2013-06-06     2.0
5              6      2013-12-23     2.0
6              7      2013-12-30     3.0
7              8      2014-04-24     NaN
8              9      2015-04-24     7.0
9             10      2016-05-08     3.0

In [66]:
# 35. Inserting and updating values
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"])
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [68]:
# 36. Convert "TransactionDate" column to type Date
df["Foo"] = df["UserID"] + df["ProductID"]
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo
0              1      2010-08-21     7.0          2         1   9.0
1              2      2011-05-26     3.0          4         1   7.0
2              3      2011-06-16     3.0          3         1   6.0
3              4      2012-08-26     1.0          2         3   3.0
4              5      2013-06-06     2.0          4         1   6.0
5              6      2013-12-23     2.0          5         6   7.0
6              7      2013-12-30     3.0          4         1   7.0
7              8      2014-04-24     NaN          2         3   NaN
8              9      2015-04-24     7.0          4         3  11.0
9             10      2016-05-08     3.0          4         4   7.0

In [70]:
# 37. Insert a new column "Foo" where Foo = UserID + ProductID
df["Foo"] = df["UserID"] + df["ProductID"]
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo
0              1      2010-08-21     7.0          2         1   9.0
1              2      2011-05-26     3.0          4         1   7.0
2              3      2011-06-16     3.0          3         1   6.0
3              4      2012-08-26     1.0          2         3   3.0
4              5      2013-06-06     2.0          4         1   6.0
5              6      2013-12-23     2.0          5         6   7.0
6              7      2013-12-30     3.0          4         1   7.0
7              8      2014-04-24     NaN          2         3   NaN
8              9      2015-04-24     7.0          4         3  11.0
9             10      2016-05-08     3.0          4         4   7.0