In [90]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv("Car_sales.csv")
print(df.head())

    Manufacturer              Model  Sales in thousands 4-year resale value  \
0  Acura          Integra                        16.919               16.36
1  Acura          TL                             39.384              19.875
2  Acura          CL                             14.114              18.225
3  Acura          RL                              8.588              29.725
4  Audi           A4                             20.397              22.255

  Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0    Passenger               21.5         1.8        140     101.2  67.3
1    Passenger               28.4         3.2        225     108.1  70.3
2    Passenger                  .         3.2        225     106.9  70.6
3    Passenger                 42         3.5        210     114.6  71.4
4    Passenger              23.99         1.8        150     102.6  68.2

  Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0  172.4       2.639          13.2              28      2-Feb-14
1  192.9       3.517          17.2              25      6-Mar-15
2    192        3.47          17.2              26      1-Apr-14
3  196.6        3.85            18              22      3-Oct-15
4    178       2.998          16.4              27     10-Aug-15

In [8]:
num_attributes = df.shape[1]
print("Number of attributes:", num_attributes)

Number of attributes: 15

In [96]:
num_rows, num_columns = df.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 157
Number of columns: 15

In [97]:
df_cleaned = df.drop_duplicates()
print("Number of rows before removing duplicates:", df.shape[0])
print("Number of rows after removing duplicates:",
df_cleaned.shape[0])

Number of rows before removing duplicates: 157
Number of rows after removing duplicates: 157

In [98]:
print("Summary Statistics for Numerical Variables:")
print(df.describe())

Summary Statistics for Numerical Variables:
       Sales in thousands
count          157.000000
mean            52.998076
std             68.029422
min              0.110000
25%             14.114000
50%             29.450000
75%             67.956000
max            540.561000

In [99]:
print("Number of missing values in each column:")
print(df.isnull().sum())

Number of missing values in each column:
Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     0
Engine size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64

In [15]:
# 1. Read top five values
print(df.head())

    Manufacturer              Model  Sales in thousands 4-year resale value  \
0  Acura          Integra                        16.919               16.36
1  Acura          TL                             39.384              19.875
2  Acura          CL                             14.114              18.225
3  Acura          RL                              8.588              29.725
4  Audi           A4                             20.397              22.255

  Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0    Passenger               21.5         1.8        140     101.2  67.3
1    Passenger               28.4         3.2        225     108.1  70.3
2    Passenger                  .         3.2        225     106.9  70.6
3    Passenger                 42         3.5        210     114.6  71.4
4    Passenger              23.99         1.8        150     102.6  68.2

  Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0  172.4       2.639          13.2              28      2-Feb-14
1  192.9       3.517          17.2              25      6-Mar-15
2    192        3.47          17.2              26      1-Apr-14
3  196.6        3.85            18              22      3-Oct-15
4    178       2.998          16.4              27     10-Aug-15

In [26]:
# 2. Print dataframe info_data types of each column
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales in thousands   157 non-null    float64
 3   4-year resale value  157 non-null    object
 4   Vehicle type         157 non-null    object
 5   Price in thousands   157 non-null    object
 6   Engine size          157 non-null    object
 7   Horsepower           157 non-null    object
 8   Wheelbase            157 non-null    object
 9   Width                157 non-null    object
 10  Length               157 non-null    object
 11  Curb weight          157 non-null    object
 12  Fuel capacity        157 non-null    object
 13  Fuel efficiency      157 non-null    object
 14  Latest Launch        157 non-null    object
dtypes: float64(1), object(14)
memory usage: 18.5+ KB
None

In [38]:
# 3. Print number of rows and columns
print("rows",df.shape[0])
print("col",df.shape[1])

rows 157
col 15

In [29]:
# 4. Drop duplicate rows_if any
print(df.drop_duplicates())

      Manufacturer              Model  Sales in thousands 4-year resale value  \
0    Acura          Integra                        16.919               16.36
1    Acura          TL                             39.384              19.875
2    Acura          CL                             14.114              18.225
3    Acura          RL                              8.588              29.725
4    Audi           A4                             20.397              22.255
..             ...                ...                 ...                 ...
152  Volvo          V40                             3.545                   .
153  Volvo          S70                            15.245                   .
154  Volvo          V70                            17.531                   .
155  Volvo          C70                             3.493                   .
156  Volvo          S80                            18.969                   .

    Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0      Passenger               21.5         1.8        140     101.2  67.3
1      Passenger               28.4         3.2        225     108.1  70.3
2      Passenger                  .         3.2        225     106.9  70.6
3      Passenger                 42         3.5        210     114.6  71.4
4      Passenger              23.99         1.8        150     102.6  68.2
..           ...                ...         ...        ...       ...   ...
152    Passenger               24.4         1.9        160     100.5  67.6
153    Passenger               27.5         2.4        168     104.9  69.3
154    Passenger               28.8         2.4        168     104.9  69.3
155    Passenger               45.5         2.3        236     104.9  71.5
156    Passenger                 36         2.9        201     109.9  72.1

    Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0    172.4       2.639          13.2              28      2-Feb-14
1    192.9       3.517          17.2              25      6-Mar-15
2      192        3.47          17.2              26      1-Apr-14
3    196.6        3.85            18              22      3-Oct-15
4      178       2.998          16.4              27     10-Aug-15
..     ...         ...           ...             ...           ...
152  176.6       3.042          15.8              25     21-Sep-15
153  185.9       3.208          17.9              25     24-Nov-14
154  186.2       3.259          17.9              25     25-Jun-15
155  185.7       3.601          18.5              23     26-Apr-15
156  189.8         3.6          21.1              24     14-Nov-15

[157 rows x 15 columns]

In [34]:
# 5. Print number of rows and columns after dropping
dfr=df.drop_duplicates()
print(dfr.shape[0])
print(dfr.shape[1])

157
15

In [39]:
# 6. Print summary statistics for numerical variables
print(df.describe())

       Sales in thousands
count          157.000000
mean            52.998076
std             68.029422
min              0.110000
25%             14.114000
50%             29.450000
75%             67.956000
max            540.561000

In [44]:
# 7. Print number of missing values in each column
# print(df)
print(df.isnull().sum())

Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     0
Engine size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64

In [52]:
# 8. Drop the column with most missing values
print(df.isnull().sum().idxmax())  # know the col to drop
dfr=df.isnull().sum().idxmax()
print(df.drop(columns=[dfr]))

Manufacturer
                 Model  Sales in thousands 4-year resale value Vehicle type  \
0    Integra                        16.919               16.36    Passenger
1    TL                             39.384              19.875    Passenger
2    CL                             14.114              18.225    Passenger
3    RL                              8.588              29.725    Passenger
4    A4                             20.397              22.255    Passenger
..                 ...                 ...                 ...          ...
152  V40                             3.545                   .    Passenger
153  S70                            15.245                   .    Passenger
154  V70                            17.531                   .    Passenger
155  C70                             3.493                   .    Passenger
156  S80                            18.969                   .    Passenger

    Price in thousands Engine size Horsepower Wheelbase Width Length  \
0                 21.5         1.8        140     101.2  67.3  172.4
1                 28.4         3.2        225     108.1  70.3  192.9
2                    .         3.2        225     106.9  70.6    192
3                   42         3.5        210     114.6  71.4  196.6
4                23.99         1.8        150     102.6  68.2    178
..                 ...         ...        ...       ...   ...    ...
152               24.4         1.9        160     100.5  67.6  176.6
153               27.5         2.4        168     104.9  69.3  185.9
154               28.8         2.4        168     104.9  69.3  186.2
155               45.5         2.3        236     104.9  71.5  185.7
156                 36         2.9        201     109.9  72.1  189.8

    Curb weight Fuel capacity Fuel efficiency Latest Launch
0         2.639          13.2              28      2-Feb-14
1         3.517          17.2              25      6-Mar-15
2          3.47          17.2              26      1-Apr-14
3          3.85            18              22      3-Oct-15
4         2.998          16.4              27     10-Aug-15
..          ...           ...             ...           ...
152       3.042          15.8              25     21-Sep-15
153       3.208          17.9              25     24-Nov-14
154       3.259          17.9              25     25-Jun-15
155       3.601          18.5              23     26-Apr-15
156         3.6          21.1              24     14-Nov-15

[157 rows x 14 columns]

In [62]:
# 9. Drop the rows with categorical missing values
 
dfr=df.dropna(subset=df.select_dtypes(include=['object']).columns)
print(dfr)

      Manufacturer              Model  Sales in thousands 4-year resale value  \
0    Acura          Integra                        16.919               16.36
1    Acura          TL                             39.384              19.875
2    Acura          CL                             14.114              18.225
3    Acura          RL                              8.588              29.725
4    Audi           A4                             20.397              22.255
..             ...                ...                 ...                 ...
152  Volvo          V40                             3.545                   .
153  Volvo          S70                            15.245                   .
154  Volvo          V70                            17.531                   .
155  Volvo          C70                             3.493                   .
156  Volvo          S80                            18.969                   .

    Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0      Passenger               21.5         1.8        140     101.2  67.3
1      Passenger               28.4         3.2        225     108.1  70.3
2      Passenger                  .         3.2        225     106.9  70.6
3      Passenger                 42         3.5        210     114.6  71.4
4      Passenger              23.99         1.8        150     102.6  68.2
..           ...                ...         ...        ...       ...   ...
152    Passenger               24.4         1.9        160     100.5  67.6
153    Passenger               27.5         2.4        168     104.9  69.3
154    Passenger               28.8         2.4        168     104.9  69.3
155    Passenger               45.5         2.3        236     104.9  71.5
156    Passenger                 36         2.9        201     109.9  72.1

    Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0    172.4       2.639          13.2              28      2-Feb-14
1    192.9       3.517          17.2              25      6-Mar-15
2      192        3.47          17.2              26      1-Apr-14
3    196.6        3.85            18              22      3-Oct-15
4      178       2.998          16.4              27     10-Aug-15
..     ...         ...           ...             ...           ...
152  176.6       3.042          15.8              25     21-Sep-15
153  185.9       3.208          17.9              25     24-Nov-14
154  186.2       3.259          17.9              25     25-Jun-15
155  185.7       3.601          18.5              23     26-Apr-15
156  189.8         3.6          21.1              24     14-Nov-15

[157 rows x 15 columns]

In [67]:
# 10. Import the rows with numerical missing values
dfr=df.fillna(df[df.columns].mean())
print(dfr)

      Manufacturer              Model  Sales in thousands 4-year resale value  \
0    Acura          Integra                        16.919               16.36
1    Acura          TL                             39.384              19.875
2    Acura          CL                             14.114              18.225
3    Acura          RL                              8.588              29.725
4    Audi           A4                             20.397              22.255
..             ...                ...                 ...                 ...
152  Volvo          V40                             3.545                   .
153  Volvo          S70                            15.245                   .
154  Volvo          V70                            17.531                   .
155  Volvo          C70                             3.493                   .
156  Volvo          S80                            18.969                   .

    Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0      Passenger               21.5         1.8        140     101.2  67.3
1      Passenger               28.4         3.2        225     108.1  70.3
2      Passenger                  .         3.2        225     106.9  70.6
3      Passenger                 42         3.5        210     114.6  71.4
4      Passenger              23.99         1.8        150     102.6  68.2
..           ...                ...         ...        ...       ...   ...
152    Passenger               24.4         1.9        160     100.5  67.6
153    Passenger               27.5         2.4        168     104.9  69.3
154    Passenger               28.8         2.4        168     104.9  69.3
155    Passenger               45.5         2.3        236     104.9  71.5
156    Passenger                 36         2.9        201     109.9  72.1

    Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0    172.4       2.639          13.2              28      2-Feb-14
1    192.9       3.517          17.2              25      6-Mar-15
2      192        3.47          17.2              26      1-Apr-14
3    196.6        3.85            18              22      3-Oct-15
4      178       2.998          16.4              27     10-Aug-15
..     ...         ...           ...             ...           ...
152  176.6       3.042          15.8              25     21-Sep-15
153  185.9       3.208          17.9              25     24-Nov-14
154  186.2       3.259          17.9              25     25-Jun-15
155  185.7       3.601          18.5              23     26-Apr-15
156  189.8         3.6          21.1              24     14-Nov-15

[157 rows x 15 columns]

/tmp/ipykernel_3151/2764786647.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dfr=df.fillna(df[df.columns].mean())

In [68]:
# 11. Sort Data by Price & Find Most and Least Expensive Cars
dfr=df.sort_values(by="Price in thousands")
print("least ",dfr.iloc[0])
print("most",dfr.iloc[-1])

least  Manufacturer               Acura
Model                  CL
Sales in thousands                14.114
4-year resale value               18.225
Vehicle type                   Passenger
Price in thousands                     .
Engine size                          3.2
Horsepower                           225
Wheelbase                          106.9
Width                               70.6
Length                               192
Curb weight                         3.47
Fuel capacity                       17.2
Fuel efficiency                       26
Latest Launch                   1-Apr-14
Name: 2, dtype: object
most Manufacturer               Hyundai
Model                  Accent
Sales in thousands                41.184
4-year resale value                 5.86
Vehicle type                   Passenger
Price in thousands                 9.699
Engine size                          1.5
Horsepower                            92
Wheelbase                           96.1
Width                               65.7
Length                             166.7
Curb weight                         2.24
Fuel capacity                       11.9
Fuel efficiency                       31
Latest Launch                   9-Oct-14
Name: 62, dtype: object

In [74]:
 # 12. Write a Function to Find Min & Max Values of Any Column
print("min \n",df.min(),"\nmax \n",df.max())

min
 Manufacturer           Acura
Model                          3-Sep
Sales in thousands              0.11
4-year resale value                .
Vehicle type                     Car
Price in thousands                 .
Engine size                        .
Horsepower                         .
Wheelbase                          .
Width                              .
Length                             .
Curb weight                        .
Fuel capacity                      .
Fuel efficiency                    .
Latest Launch               1-Apr-14
dtype: object
max
 Manufacturer               Volvo
Model                  Xterra
Sales in thousands               540.561
4-year resale value                 9.85
Vehicle type                   Passenger
Price in thousands                 9.699
Engine size                            8
Horsepower                            92
Wheelbase                           99.8
Width                               79.9
Length                             224.5
Curb weight                        5.572
Fuel capacity                         32
Fuel efficiency                       45
Latest Launch                   9-Oct-14
dtype: object

In [ ]:
# 13. Call the Above Function for Horsepower, Length, and Fuel Efficiency

In [76]:
# 14 .Plot Histogram of Continuous Numerical Variables

In [ ]:
# 15. Probability Density Distribution for Length

In [80]:
# 16. Count Cars by Category – Group by Manufacturer
dfr=df.groupby("Manufacturer").size()
print(dfr)

Manufacturer
Acura             4
Audi              3
BMW               3
Buick             4
Cadillac          5
Chevrolet         9
Chrysler          7
Dodge            11
Ford             11
Honda             5
Hyundai           3
Infiniti          1
Jaguar            1
Jeep              3
Lexus             6
Lincoln           3
Mercedes-Benz     9
Mercury           6
Mitsubishi        7
Nissan            7
Oldsmobile        6
Plymouth          4
Pontiac           6
Porsche           3
Saab              2
Saturn            5
Subaru            2
Toyota            9
Volkswagen        6
Volvo             6
dtype: int64

In [86]:
# 17. Select All Numerical Variables
print(df.select_dtypes(include=["number"]))

     Sales in thousands
0                16.919
1                39.384
2                14.114
3                 8.588
4                20.397
..                  ...
152               3.545
153              15.245
154              17.531
155               3.493
156              18.969

[157 rows x 1 columns]

In [89]:
# 18. Print Correlation Coefficient Between Price & Sales
print(df.corr())

                    Sales in thousands
Sales in thousands                 1.0

/tmp/ipykernel_3151/4192906363.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.corr())

In [92]:
# 19. Plot Correlation of Price and Sales Using Scatterplot
# print(sns.scatterplot(x="Price",y="Sales"))

In [ ]:
# 20. Pair Plot

In [ ]:
# 21. Boxplot of Sales for Different Manufacturers

In [ ]:
# 22. Boxplot of Other Numerical Variables w.r.t Manufacturer

In [ ]:
# 23. Divide Data into Input (X) & Output (Y)

In [ ]:
# 24. Encode Categorical Variables Using Label Encoder

In [ ]:
# 25. Encode Vehicle Type Using One-Hot Encoding

In [ ]:
# 26. Split Dataset into Train (70%) and Test (10%)

In [ ]:
# 27. Apply Feature Scaling on Numerical Variables